.col-lg-6
  .p-5
    .text-center
      %h1.h4.text-gray-900.mb-4
        = I18n.t('forgot_your_password')
    = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, class: 'user' do |f|
      .form-group
        = f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: 'form-control form-control-user', placeholder: I18n.t('your_password')
      .form-group
        = f.submit I18n.t('send_reset_password'), class: 'btn btn-primary btn-user btn-block'
    = render "devise/shared/links"
