.container-fluid
	= render 'shared/breadcrumb', index_name: 'Dashboard', index_path: dashboard_path, new_name: nil
	.row
		.col-xl-8.col-lg-7
			.card.shadow.mb-4
				.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
					%h6.m-0.font-weight-bold.text-theme= I18n.t('more_reserved')
				.card-body
					.group.mb-3
						%h3.text-secondary= I18n.t('activerecord.attributes.book.title')
						= @data[:more_reserved].title
					.group.mb-3
						%h3.text-secondary= I18n.t('activerecord.attributes.book.author')
						= @data[:more_reserved].author
					.group.mb-3
						%h3.text-secondary= I18n.t('activerecord.attributes.book.category_id')
						= @data[:more_reserved].category.name
					.group.mb-2
						%h3.text-secondary= I18n.t('number_of_reservations')
						= @data[:qtd]
		.col-xl-4.col-lg-5
			.card.shadow.mb-4
				.card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
					%h6.m-0.font-weight-bold.text-theme
						= I18n.t('registers')
				.card-body
					.chart-pie.pb-2
						= donut_chart([{name: I18n.t('activerecord.models.user.other'), data: @data[:users_registereds]},{name: I18n.t('activerecord.models.book.other'), data: @data[:books_registereds]}, {name: I18n.t('activerecord.models.reservation.other'), data: @data[:reserveds]}], legend: 'bottom', theme: 'rainbow')
					.mt-4.text-center.small
						%span.mr-2