= form_for @reservation do |f|
  - if @reservation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@reservation.errors.count, "error")} prohibited this reservation from being saved:"
      %ul
        - @reservation.errors.full_messages.each do |message|
          %li= message

  .row
    .col-4
      - if current_user.is_admin
        .form-group
          = f.label :user_id, class: 'form-label'
          = f.collection_select :user_id, User.select(:id, :name), :id, :name, {}, class: 'form-control'
      - else
        = f.hidden_field :user_id, value: current_user.id
      .form-group
        = f.label :book_id, class: 'form-label'
        = f.collection_select :book_id, Book.select(:id, :title), :id, :title, {}, class: 'form-control'
      .form-group
        = f.label :booking_date, class: 'form-label'
        = f.date_field :booking_date, min: Date.today, class: 'form-control'
      .form-group
        = f.label :return_date, class: 'form-label'
        = f.date_field :return_date, min: Date.today, class: 'form-control'
      .form-group
        = f.submit 'Save', class: 'btn btn-outline-secondary'
