%h1 Listing reservations

%table.table.table-hover.table-striped
  %thead
    %tr.table-top
      %th Name
      %th Email
      %th Book
      %th Booking date
      %th Return date
      %th Status
      %th
      %th

  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.user.name
        %td= reservation.user.email
        %td= reservation.book.title
        %td= reservation.booking_date.strftime('%d/%m/%Y')
        %td= reservation.return_date.strftime('%d/%m/%Y')
        %td= reservation.booking_status
        %td= link_to set_button('pen-to-square', 'Editar', 'secondary'), edit_reservation_path(reservation)
        %td= link_to set_button('xmark', 'Apagar', 'danger'), reservation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Reservation', new_reservation_path
