= render 'shared/breadcrumb', index_name:  'Reservas', index_path: reservations_path, new_name: 'New reservation', new_path: new_reservation_path
.row
  .col-3
    = search_form_for @q, class: 'd-none d-sm-inline-block form-inline mr-auto w-100 navbar-search' do |f|
      .input-group.mb-2
        = f.search_field :booking_date_date_equals, placeholder: 'Data de reserva', class: 'form-control bg-white border-1 small'
      .input-group.mb-2
        = f.search_field :return_date_date_equals, placeholder: 'Data de devolução', class: 'form-control bg-white border-1 small'
      - if current_user.is_admin
        .input-group.mb-2
          = f.collection_select :user_id_eq, @users, :id, :name, { include_blank: 'Selecionar usuário' }, class: 'form-control bg-white border-1 small', placeholder: 'User'
      .input-group.mb-2
        = f.collection_select :book_id_eq, @books, :id, :title, { include_blank: 'Selecionar livro' }, class: 'form-control bg-white border-1 small', placeholder: 'Book'
      .input-group.mb-2
        = f.collection_select :booking_status_eq,  Reservation.booking_statuses, :last, :first, { include_blank: 'Status da reserva' }, class: 'form-control bg-white border-1 small', placeholder: 'Book'
      .mt-2
        %button.btn.btn-theme{ type: 'submit' }
          %i.fas.fa-search.fa-sm
        = link_to reservations_path, class: 'btn btn-theme' do
          %i.fa.fa-x
  .col-9
    - if @reservations.size.zero?
      %h3.text-center Nenhuma reserva encontrada
    -else
      %table.table.table-hover.table-striped
        %thead
          %tr.table-top
            - if current_user.is_admin
              %th.w-th User name
            %th.w-th Book
            %th Booking date
            %th Return date
            %th Status
            - if current_user.is_admin
              %th
              %th
              %th
        %tbody
          - @reservations.each do |reservation|
            %tr
              - if current_user.is_admin
                %td
                  .break-text{ title: reservation.user.name }= reservation.user.name
              %td
                .break-text{ title: reservation.book.title }= reservation.book.title
              %td= reservation.booking_date.strftime('%d/%m/%Y')
              %td= reservation.return_date.strftime('%d/%m/%Y')
              %td= reservation.booking_status
              - if current_user.is_admin
                %td= link_to set_button('arrows-rotate', 'Alterar estado', 'success'), edit_reservation_path(reservation)
                %td= link_to set_button('pen-to-square', 'Editar', 'dark'), edit_reservation_path(reservation)
                %td= link_to set_button('xmark', 'Apagar', 'danger'), reservation, method: :delete, data: { confirm: 'Are you sure?' }
      != pagy_bootstrap_nav(@pagy)