= render 'shared/breadcrumb', index_name: I18n.t('activerecord.models.category.other'), index_path: categories_path, new_name: nil
= form_for @category do |f|
  = render "shared/error_messages", resource: @category
  .row
    .col-3
      .form-group
        = f.label :name, class: 'form-label'
        = f.text_field :name, maxlength: 20, class: 'form-control'
      .form-group
        = f.submit class: 'btn btn-outline-secondary'
