%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
	= link_to root_path, class: 'sidebar-brand d-flex align-items-center justify-content-center' do
		.sidebar-brand-icon.rotate-n-15
			%i.fa.fa-book-atlas
		.sidebar-brand-text.mx-3
			book
			%br
			%sup reservation
	%hr.sidebar-divider.my-0/
	%li.nav-item
		= link_to root_path, class: 'nav-link' do
			%i.fas.fa-fw.fa-tachometer-alt
			%span Dashboard

	%li.nav-item
		= link_to new_user_registration_path, class: 'nav-link' do
			%i.fa.fa-user-plus
			%span New User 
	%li.nav-item
		%a.nav-link.collapsed{'aria-controls' => 'collapseBooks', 'aria-expanded' => 'true', 'data-bs-target' => '#collapseBooks', 'data-bs-toggle' => 'collapse', :href => '#'}
			%i.fa.fa-book-open
			%span Books
		#collapseBooks.collapse{'aria-labelledby' => 'headingUtilities', 'data-bs-parent' => '#accordionSidebar'}
			.bg-white.py-2.collapse-inner.rounded
				= link_to 'Cadastrar livro', new_book_path, class: 'collapse-item'
				= link_to 'Visualizar todos', books_path, class: 'collapse-item'

	%li.nav-item
		%a.nav-link.collapsed{'aria-controls' => 'collapseCategories', 'aria-expanded' => 'true', 'data-bs-target' => '#collapseCategories', 'data-bs-toggle' => 'collapse', :href => '#'}
			%i.fa.fa-list
			%span Book Categories
		#collapseCategories.collapse{'aria-labelledby' => 'headingPages', 'data-bs-parent' => '#accordionSidebar'}
			.bg-white.py-2.collapse-inner.rounded
				= link_to 'Cadastrar categoria', new_category_path, class: 'collapse-item'
				= link_to 'Visualizar todas', categories_path, class: 'collapse-item'
	%li.nav-item
		%a.nav-link.collapsed{'aria-controls' => 'collapseReservations', 'aria-expanded' => 'true', 'data-bs-target' => '#collapseReservations', 'data-bs-toggle' => 'collapse', :href => '#'}
			%i.fa.fa-calendar-days
			%span Reservations
		#collapseReservations.collapse{'aria-labelledby' => 'headingPages', 'data-bs-parent' => '#accordionSidebar'}
			.bg-white.py-2.collapse-inner.rounded
				= link_to 'Reservar livro', new_reservation_path, class: 'collapse-item'
				= link_to 'Visualizar todas', reservations_path, class: 'collapse-item'
	%li.nav-item
		%a.nav-link	
			%i.fa.fa-file-import
			%span Import Books
			%sup csv
	%hr.sidebar-divider.d-none.d-md-block/
	.text-center.d-none.d-md-inline
		%button#sidebarToggle.rounded-circle.border-0

	:javascript
		$('#sidebarToggle').on('click', function(e) {
			$('body').toggleClass('sidebar-toggled');
			$('.sidebar').toggleClass('toggled');
			if ($('.sidebar').hasClass('toggled')) { $('.sidebar .collapse').collapse('hide'); };
		});