!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title Book System Online
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    :javascript
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-T3PTN23');

    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body#page-top{ class: active_sidebar }
    %noscript
    %iframe{src: 'https://www.googletagmanager.com/ns.html?id=GTM-T3PTN23', height: 0, width: 0, style: "display:none;visibility:hidden"}

    = toastr_flash 
    #wrapper
      = render 'layouts/sidebar'
      #content-wrapper.d-flex.flex-column
        #content
          = render 'layouts/topbar'
          %div.px-5.mt-5
            = yield
        = render 'layouts/footer'
    = render 'layouts/scroll_top'